.expenses {
    padding: 1rem;
    background-color: rgb(31, 31, 31);
    position: relative;
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
}

.oneexpenseonly {
    color: white;
    text-align: left;
}