.expenses-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: rgb(31, 31, 31);
  color: aliceblue;
}

.expenses-filter__control {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    text-align: left;
}

.expenses-filter__control label {
    font-weight: bold;
    padding: 0.5rem;
}

.expenses-filter__control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 5rem;
    max-width: 100%;
}
