.new-expense__actions {
    text-align: right;
}

.new-expense__actions button {
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.new-expense__actions button:hover,
.new-expense__actions button:active {
    background-color: #510674;
    border-color: #510674;
}

.new-expense__actions button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.new-expense__actions button.alternative:hover,
.new-expense__actions button.alternative:active {
    background-color: #ddb3f8;  
}