.expense-item__description {
    display: flex;
    flex-direction: column;
    /* gap: 60vh; */
    position: relative;
    padding-left: 130vh;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
    font-size: 2rem;
  }
  
  .expense-item h2 {
    color: #3a3a3a;
    font-size: 2rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
  .expense-item__price {
    font-size: 1rem;
    font-weight: bold;
    position:absolute;
    right: 20px;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }

  .expense-item__LOE {
    font-size: 1.4rem;
    font-weight: bold;
    position:absolute;
    left: 0px;
    color: white;
    background-color: #40005d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
  }

  @media (min-width: 580px) {
    .expense-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    .expense-item__price {
      font-size: 1.25rem;
      padding: 0.5rem 1.5rem;
    }
  }